
.content-main {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: box-shadow 0.3s ease;
    width: 100%;

}

.card:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.card-header {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.card-header h3 {
    margin: 0;
    font-size: 1.2rem;
}

.card-body {
    padding: 10px;
}

.card-footer {
    padding: 10px;
    border-top: 1px solid #eee;
}

.card-footer a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.card-footer a:hover {
    text-decoration: underline;
}
